.main-box h2 {
    color: red;
    text-align: center; /* left , right, justify */
    text-decoration: underline;/* line-through, overline, none*/
    letter-spacing: 15px;
    word-spacing: 35px;
    text-shadow: 1px 1px 0 yellow,-1px -1px 0 yellow,1px -1px 0 yellow,-1px 1px 0 yellow;
   
}
.main-box  {
    text-align: justify; /* left , right, justify */
    line-height: 40px;
    text-indent: 50px;
    /* white-space: nowrap */
    text-transform: uppercase; /* capitalize , lowercase */
}
.category {
    background-color: antiquewhite;    
}
.category a {
    text-decoration: none;
    font-style: italic; /* normal */
    font-weight: bold; /* normal , bold, bolder, 0-1000 */
    font-size: 26px;
}

html, body {
    font-size: 14px;
}

address {
    font-style: normal;
}
.container {
    font-size: 20px;
}

.container h2 {
    font-size: 150%;
    font-weight: normal;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    background-color: bisque;
    width: 500px;
    /* border: 40px dotted red; */ /*solid , dashed, dotted */
    /*padding: 60px;*/
    /* padding: 60px 20px; */
    /* padding: 60px 20px 30px; */
    /* padding: 60px 20px 30px 15px; */
    padding-top: 50px;
    margin-bottom: 100px;
 
}
.container p {
    background: yellow;
}
.container h3 {
    font-size: 2rem;
    font-weight: normal;
    font-family: 'verdana';
    padding-bottom: 40px;
    background: red;
}
.container h4 {
    font-family: 'extraSquare';
}



@media(max-width: 1200px) {
 .container {
    font-size: 12px;    
 }   
}

.mainBox {
    width: 450px;
    height: 800px;
    background-color: antiquewhite;
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    /* justify-content: flex-start; 
    justify-content: center;
    justify-content: flex-end;
    justify-content: space-between
    
    justify-content: space-around*/    
    justify-content: space-evenly;
    /* align-items: flex-start;
    align-items: center;
    align-items: flex-end; */
     /* flex-direction: column;
     align-items: center; */
     /* flex-wrap: wrap; */
}

.box1 {
    width: 150px;
    height: 200px;
    background-color: red;
}  
.box2 {
    width: 300px;
    height: 200px;
    background-color: yellow;
} 
.box3 {
    width: 300px;
    height: 200px;
    background-color: aqua;
}  